.control-group
  = label_tag 'event[date]', t('event.date'), class:'control-label'
  %input(type='date' name='event[date]' id='event_date' class='controls')
.control-group
  = label_tag 'event[time]', t('event.time'), class:'control-label'
  %input(type='time' name='event[time]' id='event_time' class='controls')
